{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dataview{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for region in regions %}
      {% set region_alias = 'region' ~ loop.index %}
      <input type="checkbox" id="{{ region_alias }}"" name="{{ region_alias }}"" value="{{ region.regionName }}"">
      <label for="{{ region_alias }}"> {{ region.regionName }}</label><br>
    {% endfor %}
    <input type="submit" value="Get Data">
  </form>
  {% for o in o_list %}
    {{ o.station_id }} : {{ o.count }} <br>
  {% endfor %}



{% endblock %}