{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dataview{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <input type="submit" value="Show Data">
</form>


<table>
  <tr>
    <td>type_id</td>
    <td>type_name</td>
    <td>buy_price</td>
    <td>sell_price</td>
    <td>base_margin</td>
    <td>volume</td>
  </tr>
    {% for o in orders %}
      <tr>
        <td> {{ o.type_id }} </td>
        <td> {{ o.type_name }} </td>
        <td> {{ o.buy_price }} </td>
        <td> {{ o.sell_price }}</td>
        <td> {{ o.base_margin }}</td>
        <td> {{ o.volume }} </td>
      </tr>
    {% endfor %}
</table>
{% endblock %}